
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.tutsflow.com/paysilo/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jan 2020 11:24:05 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Tech||Vibes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/assets/images/Logo/TechVibes12s22-1.png">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- ICONS -->
    <link href="~/assets/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/ilmosys-icon.css">
    <link rel="stylesheet" href="~/assets/js/vendors/swipebox/css/swipebox.min.css">
    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="~/assets/js/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home">
    <div class="body">
        <!-- HEADER -->
        <header>
            <nav class="navbar-inverse navbar-lg navbar-fixed-top" style="background: #77cfe1 !important;">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/Home/Index" class="navbar-brand brand" style="padding-top: 3px;"><img src="~/assets/images/Logo/TechVibes12s22-1.png" alt="logo" width="150"></a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        @*<ul class="nav navbar-nav navbar-right navbar-login">
                            <li>
                                <a href="#"> <i class="fa fa-lock"></i> Chat</a>
                            </li>
                        </ul>*@
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#home">Home</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#features">Services</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#reviews">Products</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#pricing">About</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#faq">FAQ</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>
                            <li class="dropdown mm-menu">
                                <a class="page-scroll" href="#contact">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Home -->
        <div class="intro intro3">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-7 col-sm-6 no-padding">
                        <img src="~/assets/images/teamwork-cartoon.jpg" class="img-responsive center-block" alt="" />
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <h3 style="font-family:auto">Your Wish Our Passion</h3>
                        <p>“We love what we do and we do what our clients love & work with great clients all over the world to create thoughtful and purposeful applications.”</p>
                        <div class="space30"></div>
                        <form class="intro-newsletter geintro-newsletter-full" action="http://demo.tutsflow.com/paysilo/php/subscribe.php" id="invite" method="POST">
                            <div class="row hidden">
                                <div class="col-md-8 col-sm-7 no-padding">
                                    <input class="e-mail" placeholder="Email Address here" name="email" id="eaddress" data-validate="validate(required, email)" type="email">
                                </div>
                                <div class="col-md-4 col-sm-5 no-padding">
                                    <button class="btn btn-primary btn-block" type="submit">Let's Talk</button>
                                </div>
                            </div>
                            <p>We do not spam. Will not share the email to anyone.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clients -->
        <div class="elements-content bg-primary">
            <div class="container">
                <div class="row">
                    <ul class="clients no-padding text-center">
                        <li><img src="~/assets/images/clients/images (3).jpg" class="img-responsive center-block" alt="" /></li>
                        <li><img src="~/assets/images/clients/newpythonlogo.png" class="img-responsive center-block" alt="" /></li>
                        <li><img src="~/assets/images/clients/html.png" class="img-responsive center-block" alt="" /></li>
                        <li><img src="~/assets/images/clients/css.jpg" class="img-responsive center-block" alt="" /></li>
                        <li><img src="~/assets/images/clients/jquery.jpg" class="img-responsive center-block" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- How it works -->
        <div class="elements-content">
            <div class="container">
                <div class="about-inline text-center">
                    <h3>What Is Tech Vibes Technologies ? </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat tellus. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. Separated they live in Bookmarksgrove.
                    </p>
                </div>
                <div class="service3 icon-box-square">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <span><i class="fa fa-link"></i></span>
                                    <div class="services-content">
                                        <h2>1. Create Payment Links</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center">
                                    <span><i class="fa fa-share"></i></span>
                                    <div class="services-content">
                                        <h2>2. Share with Customers</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center">
                                    <span><i class="fa fa-money"></i></span>
                                    <div class="services-content">
                                        <h2>3. Get Paid</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Parallax -->
    <section class="parallax-content parallax1 text-center" data-stellar-background-ratio="0.4">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center">
                    <h4>More than 3 years+ experience Developers in IT Field.. </h4>
                </div>
                <div class="row hidden">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-lg btn-primary">Try Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <div id="features" class="container">
        <div class="about-inline text-center">
            <div class="container">
                <h3>Start, Manage and Grow your Business </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat tellus.</p>
            </div>
        </div>
        <div class="icon-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="feature-left">
                            <li>
                                <i class="ilmosys-money-2"></i>
                                <div class="fl-content">
                                    <h4> Web Applications</h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                            <li>
                                <i class="ilmosys-file-graph"></i>
                                <div class="fl-content">
                                    <h4></h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                            <li>
                                <i class="ilmosys-management"></i>
                                <div class="fl-content">
                                    <h4> Business</h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <figure class="mbr-figure mbr-figure--adapted mbr-figure--full-width"><img src="~/assets/images/2.png" class="mbr-figure__img img-responsive"></figure>
                    </div>
                    <div class="col-md-4">
                        <ul class="feature-right">
                            <li>
                                <i class="ilmosys-user"></i>
                                <div class="fr-content">
                                    <h4>Mobile applications</h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                            <li>
                                <i class="ilmosys-finger-dragfoursides"></i>
                                <div class="fr-content">
                                    <h4>Resolve Disputes</h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                            <li>
                                <i class="ilmosys-support"></i>
                                <div class="fr-content">
                                    <h4>Global Support</h4>
                                    <p>Suspendisse nec lorem non porta iaculis odio dictum quis ac lorem.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- benifits 1 -->
    <div class="intro intro-benifits2">
        <div class="container">
            <div class="row center-content">
                <div class="col-md-7 ">
                    <img src="~/assets/images/features/1.png" class="pull-left img-responsive" alt="" />
                </div>
                <div class="col-md-5">
                    <h3>We even give you more solutions to grow your business.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat tellus.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- benifits 2 -->
    <div class="intro intro-benifits2">
        <div class="container">
            <div class="row center-content">
                <div class="col-md-5">
                    <h3>Business growth & insights with powerfull dashboards.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo. Far far away, behind the word mountains, far from the countries Vokalia Mauris feugiat erat tellus.</p>
                </div>
                <div class="col-md-7">
                    <img src="~/assets/images/features/2.png" class="pull-left img-responsive" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="space100"></div>
    <!-- Reviews -->
    <div id="reviews" class="testimonials-white">
        <div class="container">
            <div class="about-inline text-center">
                <h3>E-Commerce Online Business Mangment System</h3>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="quote2">
                        <div>
                            <img src="~/assets/images/testimonial/rcomm.png" alt="" />
                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live."</p>
                            <span class="author">Simab Dave - Web Designer</span>
                        </div>
                        <div>
                            <img src="~/assets/images/testimonial/2.jpg" alt="" />
                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live far from the countries Vokalia."</p>
                            <span class="author">Johnthan Doe - UX Designer</span>
                        </div>
                        <div>
                            <img src="~/assets/images/testimonial/3.jpg" alt="" />
                            <p>"Far far away, testimonial the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. "</p>
                            <span class="author">Maccy Doe - Front End</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space100"></div>
        </div>
    </div>

    <!-- Pricing --->
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
                <h1>Who we are ?</h1>
                <p>Tech Vibes Technology is a leading technology, consulting and software solutions company. we help our clients by providing the solution based on Web Development, Mobile Development, Desktop Apps,Company Brochures, Logo Designing, Business Cards, and IT Outsourcing. We design and implement the solutions that meets their requrements. We offer a wide range of IT services. We listen to our client goals, assess their needs, and then take the steps necessary to achieve their objectives. </p>
            </div>
           
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- Faq -->
    <div class="container" id="faq">
        <div class="about-inline text-center">
            <h3>Frequently Asked Questions </h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4> <span>#</span> What is Paysilo?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4> <span>#</span> What is Paysilo?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4> <span>#</span> What is Paysilo?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4> <span>#</span> What is Paysilo?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="space100"></div>
    <!-- Info Content -->
    <div class="info-content2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Honesty is the best policy.</h3>
                    <div class="space10"></div>
                    <p>We communicate honestly. No hidden fees, no surprises, no upsells! Only honest work and trustworthy staff.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <div class="container" id="contact">
        <div class="about-inline text-center">
            <h3>Contact Us</h3>
            <p>Our team is happy to answer your questions fill out the form and we'll be in touch as soon as possiible.</p>
        </div>
    </div>
    <!-- Contact Form -->
    <div id="contact-form2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <!-- GOOGLE MAP -->
                    <div class="google-map">
                        <div class="container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835253572245!2d144.9537353153189!3d-37.81732767975167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1551505096982"
                                    width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cf2-wrap">
                        <h3>Drop us message.</h3>
                        <div class="clearfix space20"></div>
                        <form class="positioned" name="sentMessage" id="contactForm" action="http://demo.tutsflow.com/paysilo/php/contact.php" method="post">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <input name="senderName" id="senderName" class="form-control name" placeholder="Your Name" required="" type="text">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input name="senderEmail" id="senderEmail" class="form-control email" placeholder="Email Address" required="" type="email">
                                </div>
                            </div>
                            <input name="subject" id="subject" class="form-control mobile" placeholder="Contact Number" required="" type="text">
                            <textarea name="message" id="message" class="form-control msg" placeholder="Message here"></textarea>
                            <button type="submit" class="btn btn-primary btn-ico float-center sendmsg">Send Message<i class="fa fa-paper-plane-o"></i></button>
                        </form>
                        @*<div id="sendingMessage" class="statusMessage">
                            <p><i class="fa fa-spin fa-cog"></i> Sending your message. Please wait...</p>
                        </div>
                        <div id="successMessage" class="successmessage">
                            <p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you shortly.</p>
                        </div>
                        <div id="failureMessage" class="errormessage">
                            <p><span class="error-ico"></span> There was a problem sending your message. Please try again.</p>
                        </div>
                        <div id="incompleteMessage" class="statusMessage">
                            <p><i class="fa fa-warning"></i> Please complete all the fields in the form before sending.</p>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="space80"></div>
    <!-- Footer -->
    <footer class="footer2" id="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footerP">
                    <h5>Products</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>Payment Gateway</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Smart Links</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Online Store</p>
                            </a>
                        </li>
                    </ul>
                    <li>
                        <a href="#">
                            <p>Payment Links</p>
                        </a>
                    </li>
                </div>
                <div class="col-md-3 footerP">
                    <h5>Resources</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>Blog</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Success Stories</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>eBooks</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Fee Calculator</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footerP">
                    <h5>Developers</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>API & Plugins</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>System Status </p>
                            </a>
                        </li>
                </div>
                <div class="col-md-3">
                    <div class="space50"></div>
                    <div class="footer-social space50">
                        <a href="#" class="footer-storeicon"><img src="~/assets/images/googleplay.png" alt="logo"></a>
                    </div>
                    <div class="footer-social space50">
                        <a href="#" class="footer-storeicon"><img src="~/assets/images/appstore.png" alt="logo"></a>
                    </div>
                    <div class="space100"></div>
                </div>
                <div class="col-md-3 footerP">
                    <h5>Company</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>About Us</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Meet the Team</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Careers</p>
                            </a>
                        </li>
                    </ul>
                    <li>
                        <a href="#">
                            <p>In the Press</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Privacy</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Terms & Conditions</p>
                        </a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-3 footerP">
                    <h5>Features</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>NEFT</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Convenience Fee</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>App Store</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Webhooks</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footerP">
                    <h5>OTHER LINKS</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <p>Become a Partner</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Pricing</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Affiliate</p>
                            </a>
                        </li>
                </div>
                <div class="col-md-3">
                    <a href="#" class="footer-logo"><img src="~/assets/images/logo-white.png" alt="logo"></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat tellus.</p>
                    <div class="space20"></div>
                    <div class="footer-social space30">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-dribbble"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- Copyright -->
    <div class="footer-copy">
        <div class="container">
            &copy; 2020. Tech Vibes. All rights reserved.
        </div>
    </div>

    <!-- JAVASCRIPT =============================-->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/vendors/slick/slick.min.js"></script>
    <script src="~/assets/js/vendors/jquery.easing.min.js"></script>
    <script src="~/assets/js/vendors/stellar.js"></script>
    <script src="~/assets/js/vendors/isotope/isotope.pkgd.js"></script>
    <script src="~/assets/js/vendors/swipebox/js/jquery.swipebox.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/vendors/mc/jquery.ketchup.all.min.js"></script>
    <script src="~/assets/js/vendors/mc/main.js"></script>
</body>

<!-- Mirrored from demo.tutsflow.com/paysilo/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jan 2020 11:24:53 GMT -->
</html>
<script>
    $(document).ready(function () {
        $('.sendmsg').click(function () {
            debugger
            var name = $('.name').val();
            var number = $('.mobile').val();
            var mail = $('.email').val();
            var msg = $('.msg').val();
            
            $.ajax({
                type: "Post",
                contentType: "html",
                url: "/HomeTech/Home/Contact?name=" + name + "&number=" + number + "&mail=" + mail + "&msg=" + msg,
                    success: function (response) {
                        Swal.fire({
              position: 'center',
              icon: 'success',
              title: ' Message Sent',
              showConfirmButton: false,
              timer: 1500
              })
                    }
                });
        });
        $('.mobile').keyup(function () {
            debugger
             var mobile = $(this).val();
                var moblength = mobile.length;
            if (moblength > 10) {
                    $(this).val(mobile.substr(0, mobile.length - 1));
            }
            //var pat = /^[0-9]{10}/; 
            //    if (!mobile.match(pat)) {
            //        var msg = "Enter a valid Mobile";
            //    }
        });
    });
</script>